.ed-form{
    /* background-color: aqua; */
    overflow-y: scroll;
    height: 280px ;
    /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem; */
  width: 930px;
}
.education-entry {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .main-ed{

  }
  .accordion-header {
    background-color: #f8f9fa;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion-header h3 {
    margin: 0;
  }
  
  .accordion-content {
    padding: 10px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  
  .delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }
  .ed-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    gap: 20px;
    /* border: 2px solid red; */
  }
  .main-ed{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .special{
    /* border: 2px solid red; */
    grid-column: span 2;

  }
  .description-item{
    /* border: 2px solid red; */
    margin-top: 10px;
  }
  .description-item textarea{
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    height: 50px;
  }