.det-buttons{
    
        display: flex;
        /* justify-content: space-around; */
        flex-direction: row-reverse;
        width: 90%;
        height: 100%;
        gap: 20px;
        /* border: 2px solid red; */
      
}