.quiz-header {
  background-color: #d7c447;
  padding: 20px;
  color: white;
}
/* General form styles */
form {
  /* max-width: fit-content; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Styles for input fields */
input[type="text"],
input[type="email"],
select {
  width: calc(100% - 16px); /* Full width minus padding */
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Styles for input fields in focus */
input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  border-color: #007bff; /* Border color on focus */
  outline: none; /* Remove default outline */
}

/* Styles for buttons */
button[type="submit"],
a.button-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
button[type="submit"]:hover,
a.button-link:hover {
  background-color: #0056b3;
}

/* Error highlighting for input fields */
input.error,
select.error {
  border-color: red;
}

/* Adding custom arrow for select dropdown */
select {
  -webkit-appearance: none; /* For removing default arrow in some browsers */
  -moz-appearance: none;    /* For removing default arrow in some browsers */
  appearance: none;         /* For removing default arrow in modern browsers */
  background-color: white;  /* Ensures the background is white */
}

/* Styles for the select element */
select::after {
  content: '▼'; /* Unicode for down arrow */
  position: absolute;
  right: 10px;
  pointer-events: none; /* Ensures the arrow is not clickable */
}

a:link, a:visited {
  color: blue;
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: (internal value);
}

a:link:hover{
  text-shadow: #007bff;
  cursor: pointer;
  
}
